<section id="contact" class="bg-light mt-3 py-5">
    <div class="container text-black text-center mx-auto">
       <p class="lead"> Follow The College Project On Social Media
           </p>

       </div>

<div class="row text-center">
       <div class="col-md-4">
        <a href="https://twitter.com/CollegeprojectU">   <img class="icon mt-5 img-fluid mx-auto d-block" src="/images/icons/twitter-2.png" alt="Twitter icon">Twitter</a>
     
    </div>
    <div class="col-md-4">
        <a href="http://instagram.com/collegeproject.us">
            <img class="icon mt-5 img-fluid mx-auto d-block" src="/images/icons/instagram-2.png" alt="instagram icon">Instagram
        </a>
    </div>
    <div class="col-md-4">
        <a href="mailto: contact@collegeproject.us"><img class="icon mt-5 img-fluid mx-auto d-block" src="/images/icons/email.png">contact@collegeproject.us</a>
        
    </div>
</div>


</section>

  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
      crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut"
      crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k"
      crossorigin="anonymous"></script>





      <script>
            $(function (){
            $(document).scroll(function(){
                var $nav = $("#navBar")
                $nav.toggleClass("scrolled", $(this).scrollTop() > $nav.height());
            });
        });
        
        </script>
</body>

</html>