<title>About | College Project</title>
<% include partials/header.ejs %>



<div class="row justify-content-center py-4 my-4" >
    <div class="col-sm-8 col-md-8 col-lg-8 mx-auto">

        <p class="about"> 
            <h1 display="2">About</h1>
            This project is not just about grades, majors, diplomas, or academics. It's about the sleepless nights, the cafeteria food, the friendships,
            the visions of the future, the self discovery, the anxieties, and everything else that lies beyond the margins of higher learning. It's one story that is told by many
            within the journey. Some at the beginning, some in the middle of it, and those at the end of their voyage. It's a story, for most, their first home away from home. It's about
            an experience that most carry with them for the rest of their lives. It's college.

            <br>
            <br>
            
            Some of the posts do not contain a photo of the interviewee out of respect to their request to not have their picture taken / shown.
            <br>
            <br>

            <h1 display="2">Acknowledgments</h1>

            I'd like to give a big thank you to everyone who participated in this project. Without the conversations I've had with every person listed on this website, 
            none of this would be possible.

            <br>
            Thank you to Alexis for the inspiration for this project. Thank you to Haley, Casey, and Yumi for constantly letting me pour my anxieties out to you
            and for the constant encouragement and feedback on this project. 

        </p>

        <br>
        <br>
        <br>
        <br>

        <br>


        <p class="display-5">
        </p>
    </div>
</div>


















<% include partials/footer.ejs %>